@import '../color','../headings','../bodybg','../font','../submit';
#head{
    margin-bottom: 10vh;
}

#form{
    background-color:$color_2;
    margin-left: 20%;
    margin-right: 20%;
    label{
        color: $color_1;
        &:first-child{
            @include font;

        }
        

    }
 
   
}
hr{
    color: $color_1;
}

#res{
    height: 300px;
    width: 300px;
    background-color:white;
    position: fixed;
    bottom: 180px;
    left: 520px;
    visibility: hidden;
    
   
}

